* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: rgb(194, 194, 194);
    padding: 5px;
}
.loc,
.time,
.map,
.peoples {
 
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(240, 239, 239);
}
.loc {
    &__title {
        font-weight: bold;
    }
    &__pos {
      color: rgb(129, 176, 230);
      font-weight: bold;
        display: flex;
        gap: 30px;

    }
}

.peoples {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        & li {
         color: white;
            padding: 5px 10px;
            border-radius: 50px;
            font-size: 14px;
            background-color: rgb(129, 176, 230);
        }
    }
    &__count {
        font-weight: bold;
        padding: 5px;
        font-size: 14px;
        
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../img/photo-1506318137071-a8e063b4bec0.jfif");
}

